@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center fullscreen text box">
    <div class="body">
        <div id="pictures" class="last"></div>
        <div id="contactform" class="column half">
            <partial name="_Title" />
            <partial name="_EmailInput" />
            <partial name="_PasswordInput" />
            <partial name="_RememberMeCheckbox" />
            <partial name="_ButtonSubmit" />
        </div>
    </div>
</div>

