@page
@model TASK_4.Pages.Home.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}
<div class="text-center fullscreen text box">
    <div class="body">
        <div id="pictures" class="last"></div>
        <div id="contactform" class="column half">
            <div class="title-text text-start p-2 col-md-6">
                <span class="fw-light">We will send your password! </span>
            </div>
            <partial name="_EmailInput" />
            <partial name="_ButtonSubmit" />
        </div>
    </div>
</div>